body    {
    margin: 0px;
    font-family: 'Sora', sans-serif;
}

.container  {
    display: grid;
    grid-template-columns: 1fr;
}

/*header styles*/

#fixed-bar    {
    width: 100%;
    position: fixed;
    z-index: 100; //exceed z-index of other elements on the page
    display: none;
    background: white;
    top: 0px;
}

.header-wrapper .center {
    padding-top: 30px;
    text-align: center;
}

.header-wrapper > .center > .brand   {
    color: #696969;
    font-size: 1.3em;
}

.header-wrapper > .center > img {
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
}

.brand > div > h1 {
    margin: 10px;
}

/*nav styles*/

.nav-wrapper    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
}

.nav-column-wrapper   {
    display: flex;
    justify-content: center;
    padding-top: 17px;
}

.nav-link-wrapper   {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    color: #8a8a8a;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid;
    transition: border-bottom 1s;
}

.nav-link-wrapper a:hover   {
    color: black;
    transition: color 1s;
}

.active-nav-link    {
    border-bottom: 1px solid black;
}

.active-nav-link a  {
    color: black !important;
}

/*content styles*/

.scrollable {
    margin-top: 293.8px;
}

.content-wrapper    {
    display: grid;
    grid-template-columns: 1fr;
}

.content-statement-wrapper  {
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    padding-bottom: 100px;
}

.content-statement-wrapper  p   {
    text-align: center;
    font-size: 1.2em;
}

.back-button    {
    display: flex;
    justify-content: center;
}

.back-button div    {
    height: 23;
    border-bottom: 1px solid transparent;
}

.back-button a    {
    text-decoration: none;
    color: #8a8a8a;
    font-weight: 600;
    font-size: 1.1em;
}

.back-button div:hover {
    border-bottom: 1px solid;
    transition: border-bottom 1s;
}

.back-button a:hover   {
    color: black;
    transition: color 1s;
}

/*footer wrapper*/
.footer-wrapper {
    display: flex;
    justify-content: center;
}

.social-media-wrapper   {
    padding: 30px;
    padding-bottom: 10px;
}

.social-media-link-wrapper  {

}

.social-media-link-wrapper  img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}
